/* -=-=-=-=-=-=-=-=-=-=-= General Settings =-=-=-=-=-=-=-=-=-=-=- */
body {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #364d6b;
  --light-blue: #3f94a8;
}
/* -=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=-=-=-=-= Nav Bar =-=-=-=-=-=-=-=-=-=-=- */
.nav-bar {
  position: relative;
  display: flex;
  flex-flow: row;
  margin: 0 auto -95px;
  padding: 15px 0px;
  width: 75%;
  justify-content: space-between;
  background-color: none;
  font-family: Lato;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  z-index: 2;
}

.nav-bar a {
  cursor: pointer;
  align-self: center;
}

.try-it-nav {
  background-color: var(--light-blue);
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
}

.try-it-nav:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out, width 1.5s ease-in-out;
}
.try-it-nav:not(:hover) {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.nav-bar-icon {
  display: none;
}

/* -=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=-=-=-=-= Nav Bar =-=-=-=-=-=-=-=-=-=-=- */
#home {
  background-image: url("images/home-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  display: grid;
  place-items: center;
  margin-top: 32px;
  overflow: hidden;
  padding-bottom: 10px;
}

.home-shell {
  margin: 5% 0 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: Lato;
  color: white;
  font-size: 3rem;
  height: 80%;
}

.now-title {
  font-weight: 300;
  font-family: Comfortaa;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--light-blue);
  padding: 10px 35px 0px;
  cursor: pointer;
}

.home-shell h3 {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.one-word {
  font-weight: 600;
  /* color: var(--light-blue); */
  font-style: normal;
  cursor: pointer;
}

.horizontal-line {
  border-bottom: 1px solid white;
  height: 10px;
  width: 80%;
}

.vertical-line {
  border-right: 1px solid white;
  height: 40vh;
  width: 0;
  max-height: 380px;
  min-height: 80px;
}

.home-shell p {
  font-size: 2rem;
  margin-bottom: 0;
}

.learn-more {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: Lato;
  color: white;
  font-size: 1.2rem;
}

.learn-more p {
  border-top: 1px solid white;
  padding-top: 10px;
  cursor: pointer;
}

.arrows {
  position: relative;
  width: 80px;
  animation: float 0.6s infinite alternate;
  cursor: pointer;
  bottom: 5px;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}

/* -=-.=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=-=-=-=-= About Us =-=-=-=-=-=-=-=-=-=-=- */
#about-us {
  display: grid;
  place-items: center;
  /* flex-flow: column; */
  /* align-items: center; */
  padding: 50px 0;
}

#about-us h1 {
  font-family: Lato;
  font-size: 3rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.about-us-shell {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sub-text {
  font-family: Lato;
  width: 50%;
  min-width: 300px;
  text-align: justify;
  text-indent: 25px;
}

.horizontal-line-dark {
  border-bottom: 1px solid rgb(88, 88, 88);
  height: 10px;
  width: 60%;
  min-width: 350px;
  margin-bottom: 4%;
}

.about-us-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.about-us-card {
  width: 250px;
  margin: 25px 5%;
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  font-family: Lato;
  padding: 25px 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 10px 5px 0px rgb(182, 182, 182);
}

.about-us-card h4 {
  font-size: 1.2rem;
  color: rgb(63, 63, 63);
  font-weight: bolder;
}

.about-us-card small {
  color: rgb(110, 110, 110);
  text-indent: 25px;
  text-align: center;
}
/* -=-.=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=-=-=-=-= Try It =-=-=-=-=-=-=-=-=-=-=- */
#try-it {
  display: grid;
  place-items: center;
  background-color: var(--dark-blue);
  padding: 50px 0;
}

#try-it h1 {
  font-family: Lato;
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

.try-it-shell {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.try-it-shell label {
  font-family: Lato;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 5px;
}

.cnpj-input {
  font-size: 1.5rem;
  font-family: Lato;
  border-radius: 50px;
  border: 1px solid white;
  padding: 2px 5px;
  text-align: center;
}

.cnpj-input:focus {
  outline: none;
}

.try-it-btn {
  font-size: 1.5rem;
  font-family: Lato;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid white;
  padding: 2px 15px 2px 40px;
  margin-left: -30px;
  cursor: pointer;
}

.try-it-btn:focus {
  outline: none;
}

.loading-img {
  margin-top: 2%;
  animation: spin 2s 1s infinite linear;
  animation-delay: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.horizontal-line-light {
  border-bottom: 1px solid rgb(255, 255, 255);
  height: 1px;
  width: 60%;
  min-width: 350px;
  margin-top: 2%;
}

.try-it-sub-text {
  font-family: Lato;
  color: white;
  width: 50%;
  min-width: 300px;
  text-align: justify;
  text-indent: 25px;
}

.sample-number {
  font-family: Lato;
  color: rgba(255, 255, 255, 0.233);
  font-size: 1.7rem;
  text-align: center;
}

.img-hidden {
  opacity: 0;
}
/* -=-.=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=-=-=-=-= Other Documents =-=-=-=-=-=-=-=-=-=-=- */
#other-documents {
  display: grid;
  place-items: center;
  padding: 50px 0;
}

#other-documents h1 {
  font-family: Lato;
  font-size: 3rem;
  font-weight: 600;
  color: var(--dark-blue);
  text-align: center;
}

.other-documents-shell {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}

.doc-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin: 0px 20px 45px;
  padding: 20px 45px;
  /* border-radius: 35px; */
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 0px 25px 8px rgba(19, 19, 19, 0.158);
}

.cards-text h4 {
  font-size: 1.2rem;
  font-family: Lato;
  color: rgb(63, 63, 63);
  font-weight: bolder;
  text-align: center;
}

.cards-text p {
  color: rgb(110, 110, 110);
  text-indent: 25px;
  text-align: justify;
}
.cards-text-small {
  text-indent: 25px;
  text-align: justify;
}

.more {
  justify-content: flex-start;
}
/* -=-.=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* -=-=-=-=-=-=-=-=-=-=-= Contact Us =-=-=-=-=-=-=-=-=-=-=- */
#hear-from-us {
  display: grid;
  place-items: center;
  padding: 50px 0;
}

#hear-from-us h1 {
  font-family: Lato;
  font-size: 3rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.contact-us-shell {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#hear-from-us p {
  font-family: Lato;
  width: 50%;
  min-width: 300px;
  text-align: justify;
  text-indent: 25px;
}

.contact-us-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  font-family: Lato;
  font-size: 1rem;
  color: rgb(63, 63, 63);
  border: 1px solid rgb(124, 124, 124);
  padding: 25px 80px;
  row-gap: 25px;
  column-gap: 10px;
  box-shadow: 15px 15px 0 5px var(--dark-blue);
}

.contact-us-form input {
  font-family: Lato;
  border: none;
}

.contact-us-form input:focus {
  outline: none;
}

.form-item-name {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
}

.form-item-name input {
  width: 100%;
  color: rgb(63, 63, 63);
  border-bottom: 1px solid rgb(124, 124, 124);
  font-size: 1rem;
}

.form-item-name label {
  margin-right: 20px;
}

.form-item-phone {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
}

.form-item-phone input {
  width: 100%;
  color: rgb(63, 63, 63);
  border-bottom: 1px solid rgb(124, 124, 124);
  font-size: 1rem;
}

.form-item-phone label {
  margin-right: 20px;
}

.form-item-email {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
}

.form-item-email input {
  width: 100%;
  color: rgb(63, 63, 63);
  border-bottom: 1px solid rgb(124, 124, 124);
  font-size: 1rem;
}

.form-item-email label {
  margin-right: 20px;
  white-space: nowrap;
}

.btn-contact-us {
  grid-row: 3/4;
  grid-column: 1/3;
  width: 40%;
  justify-self: center;
  border-bottom: none;
  color: white;
  background-color: var(--dark-blue);
  font-size: 1.2rem;
}

/* -=-.=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=-=-=-=-= Footer =-=-=-=-=-=-=-=-=-=-=- */
footer {
  height: 150px;
  background-color: var(--dark-blue);
  width: 100%;
  margin-top: 80px;
}

/* -=-.=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* -=-=-=-=-=-=-=-=-=-=-= Media query =-=-=-=-=-=-=-=-=-=-=- */
@media only screen and (max-width: 770px) {
  /* -=-= Nav Bar =-=-*/
  nav {
    min-height: 35px;
    top: 0px;
    position: fixed;
    background-color: var(--dark-blue);
    border: none;
  }

  .mobile {
    display: static;

    z-index: 10;
  }

  .nav-bar {
    flex-flow: column;
    position: fixed;
    margin: 0 auto;
    padding: 35px 0px;
    width: 45%;
    margin-top: 40px;
    justify-content: center;
    background-color: #364d6ba6;
    right: 0;
    transform: translateX(100%);
    z-index: 10;
  }

  .nav-bar a {
    padding: 10px 15px;

    z-index: 10;
  }

  .nav-bar-icon {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    position: absolute;
    width: 100vw;
    background-color: #364d6ba6;
    height: 40px;
  }

  .fas {
    margin-left: 90vw;
    cursor: pointer;
  }
  /* -=-= Home =-=-*/
  #home {
    padding-top: 0;
    margin-top: 0;
    overflow: hidden;
  }
  .home-shell {
    font-size: 2rem;
    size: 90%;
  }

  .now-title {
    padding: 10px 25px 0px;
  }

  .home-shell h3 {
    font-size: 1.2rem;
  }

  /* -=-= Try It =-=-*/
  .cnpj-input {
    font-size: 1.1rem;
  }

  .try-it-shell label {
    font-size: 1.1rem;
  }

  .try-it-btn {
    font-size: 1.1rem;
  }

  .loading-img {
    margin: 25px 0;
  }

  /* -=-= Other Documents =-=-*/
  .doc-card {
    position: relative;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

  .cards-text h4 {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-weight: bolder;
    text-align: center;
    margin-top: 0px;
    transform: scale(0.5, 0.5);
  }

  .cards-text p {
    color: rgb(224, 222, 222);
    text-align: justify;
    width: 80%;
    margin-top: -15px;
    font-size: 0.8rem;
    transform: scale(0.5, 0.5);
  }

  .cards-text {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #3f95a8d2;
    opacity: 0;
  }
}
/* -=-= Contact Us =-=-*/

.contact-us-form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
}

.contact-us-form {
  width: 60%;
  padding: 25px 15px;
  margin-top: 15px;
}

.form-item-email {
  grid-row: 3/4;
  grid-column: 1/2;
}

.btn-contact-us {
  grid-row: 4/5;
  grid-column: 1/2;
}

/*--------------------*/
